Description=Laser Machine Listener  

[Service]
ExecStart=/bin/bash -c 'cd /home/pi/Workspace/ && /home/pi/berryconda3/envs/opencv3.3/bin/python3 -u recording_cv2Writer.py'
WorkingDirectory=/home/pi/Workspace         
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
